
body{
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 12pt;
}

.cursEmph{
  padding-right: 15px;
  font-family: 'Shadows Into Light Two', cursive;
  /*font-weight: bold;*/
}

.xtraLarge {
  font-size: 55pt;
  /*color: white;*/
}
.xtraLarge-blu {
  font-size: 55pt;
  color: #90579e;
}

.smalltext {
  font-size: 10pt;
}

.boxFB {
  font-size: 13pt;
  font-family: arial;
  font-weight: bolder;
  background-color: #001875;
  /*width: auto;*/
  color: white;
  padding:7px 30px;
  margin: auto;

}

h1 {
  /*color: white;*/
  margin: auto;
  padding: 25px 0 40px;
  text-align: center;

}

.autoWidth {
  width: auto;
  display: inline;

}

.centerAligned {
  text-align: center;

}

.headline1 {
  color:white;

}

.headline2 {
  color:black;
}


.navCustom {
  background-color:rgba(0, 0, 0, 0.48);
  color:#90579e;
}

.navbar-default .navbar-nav > li > a, .navbar-brand:link{
  color: white;
}


.navbar-default .navbar-nav > li > a:hover, .navbar-brand:hover {
  /*font-weight: bold;*/
  color: #64d6d3;

}



.form-group input{
  text-align: center;

}

#dUpdate {
visibility: hidden;

}
#sQueryTxt {
visibility:hidden;

}

.cSection {
  /*padding-top: 200px;*/
  margin: 13px 0;

}

.cSels {
  /*padding-top: 200px;*/
  text-align: center;
  padding-bottom: 30px;
}

.cStats {
  text-align: center;

}

.inpNumSlot {
  border-color:#ffffff;
  border-width: 2px;
  background-color:rgba(255,255,255,0.4);
  color: white;
  font-weight: bold;
  padding: 5px;
  transition: visibility 500ms;
  visibility: hidden;
  /*width: 75px;*/
}

.inpNumSlotTran {
  border-color:#ffffff;
  border-width: 2px;
  background-color:rgba(255,255,255,0.4);
  color: white;
  font-weight: bold;
  padding: 5px;

}


.inpNumSlot:focus {
  border-color:#ffffff;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.07),0 0 8px rgba(255, 255, 255, 0.79);

}

.inpMegaSlot {
  border-color: red;
  border-width: 2px;
  background-color:rgba(255,255,255,0.4);
  color: red;
  font-weight: bold;
  visibility: hidden;
  /*width: 75px;*/
}




.inpMegaSlot:focus {
  border-color: red;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(251, 9, 9, 0.71);
  color:red;
}

.main {
  background: linear-gradient(70deg, #64d6d3, #90579e);
  width:100%;
  /*padding-bottom: 30px;*/
  /*border-bottom: solid 1px;*/
  box-shadow:  2px 2px 6px #5d8383;
}

.island {
  margin: 150px auto;
  padding: 20px 5px 40px;
  background: linear-gradient(250deg, #64d6d3, #90579e);
  border-radius: 2px;
  /*border-width: none;*/
  box-shadow:  2px 2px 6px #5d8383;
  width: 75%;
  /*margin:135px 10px;*/
}






.sec1 {
  padding: 20px 10px;
  background-color: #ffffff;
}


.sec2 {
  padding: 50px 10px;
  background-color: #d2d2d2;
}

.secFoot {
  padding: 100px 10px;
  /*background: linear-gradient(200deg, #64d6d3, #90579e);*/
  background-color: #626262
}
